### URL base de la API graph de Meta
meta.api.baseURL=https://graph.facebook.com/vXX.X/XXXXXXXXXXXXXXX/messages

### Token de acceso a la API graph de Meta
meta.api.apiToken=EAAXX...

### Token de verificación para el webhook
meta.api.webhookToken=S3CR3T...
